.flex-profile{
    justify-content: center;
    display:flex;
    margin: 20px;
}
.flex-profile div{
    width:30%;
    box-shadow: 2px 0px 5px black;
    background-color: white;
    padding: 10px;
}
.flex-profile div h1{
    text-align: center;
}

.flex-history{
    justify-content: center;
    display:flex;
    margin:20px;
}
.flex-history div{
    width:30%;
    box-shadow: 2px 0px 5px black;
    background-color: white;
    padding: 10px;
}
.flex-history div h1{
    text-align: center;
}
