.flex-haluji{
    display:flex;
    justify-content: center;
}
.flex-haluji div{
    width: 70%;
    height: 10px;
}

.flex-haluji form{
    margin-top: 5%;
    box-shadow: 2px 0px 5px black;
    background-color: white;
    height: 3500%;
    overflow: auto;
    padding: 10px;
}

#btnUjian{
    border: 2px solid #ba0101;
    border-radius: 10px;
    background-color: #ba0101;
    color: white;
    box-shadow: 2px 0px 5px #aaaaaa;
    font-size: 20px;
    width: 100px;
}

#btnUjian:hover{
    color: #ba0101;
    background-color: white;
    border: 2px solid white;
}


#time {
    font-size: 50px;
    color: #ba0101;
    text-align: center;
}

.timer-container{
    display: flex;
    justify-content: center;
}