body{
    background-color: #BA0101;
    display: inline;
}

img{
    width : 10%;
    height : 10%;
}

.home{
    justify-content: center;
    display: flex;
}

.home div{
    align-items: center;
    box-shadow: 2px 0px 5px #aaaaaa;
    background-color: white;
    text-align: center;
    width: 30%;
    margin:22px;
    font-size: 200%;
    padding: 20px;
}