table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
    text-align:center;
}
body{
    background-color:#ba0101;
}
.flex-body{
    justify-content: center;
    display:flex;
    
}
.flex-body div{
    text-align:center;
    background-color: white;
}