.flex-profile{
    justify-content: center;
    display:flex;
    margin: 20px;
    
}
.flex-profile div{
    width:30%;
    box-shadow: 2px 0px 5px black;
    background-color: white;
    padding: 10px;
    background-color: #ba0101;
    color: white;
    font-weight: bold;
}
.flex-profile div h1{
    text-align: center;
    color:white;
}

.buttonfoto{
    border: 2px solid #ba0101;
    border-radius: 10px;
    background-color: #ba0101;
    color: white;
    box-shadow: 2px 2px 2px #aaaaaa;
    font-size: 20px;
    width: 100px;
}

.buttonfoto:hover{
    color: #ba0101;
    background-color: white;
    border: 2px solid white;
}

.flex-history{
    justify-content: center;
    display:flex;
    margin:20px;
    
}
.flex-history div{
    width:30%;
    box-shadow: 2px 0px 5px black;
    background-color: white;
    padding: 10px;
    background-color: #ba0101;
    color: white;
    font-weight: bold;
    text-align: center;
}
.flex-history div h1{
    text-align: center;
    color:white;
}

.flex-history table, tr, td{
    color:black;
    font-weight: bold;
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
    text-align: center;
    padding: 5px;
}

.fotoprof{
    width:30px;
    height: 30px;
}