
.home{
    justify-content: center;
    display: flex;
}

.home div{
    align-items: center;
    box-shadow: 2px 0px 5px #aaaaaa;
    background-color: white;
    text-align: center;
    width: 30%;
    margin:22px;
    padding: 20px;
}

.home div input{
    width: 80%;
}

#save{
    border: 2px solid #ba0101;
    border-radius: 10px;
    background-color: #ba0101;
    color: white;
    box-shadow: 2px 0px 5px #aaaaaa;
    font-size: 20px;
    width: 20%;
}

#save:hover{
    color: #ba0101;
    background-color: white;
    border: 2px solid white;
}