table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
    text-align:center;
}

.flex-body{
    justify-content: center;
    display:flex;
    background-color: white;
}
.flex-body div{
    text-align:center;
    background-color: white;
}

#pagination {
    display: block;
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    text-decoration: none;
    color: #666;
    border: 2px double teal;
    padding: 8px 11px;
    display: inline-block;
}

#pagination a:hover {
    background-color: teal;
    color: white;
}