<html>
    <head>
        <link rel = "stylesheet" href = "styles/style.css">
    </head>
    <body>
        <div class = "home">
            <div>
                <a href = ""><img src = "images/pengguna.svg"></a><br>
                Pengguna             
            </div>
            <div>
                <a href = ""><img src = "images/top10.svg"></a><br>
                Top 10 User 
            </div>
            <div>
                <a href = ""><img src = "images/statistik.svg"></a><br>
                Statistik
            </div>
        </div>
    </body>
</html>